<!DOCTYPE html>
<html>
<head>

</head></div><div id="app" class="col-11">
<body>

    <div class="row my-3">
      <div class="col-10">
        <h1>Uhospital</h1>
        <p>Universidad de San Carlos de Guatemala</p>
        <p>Facultad de Ingenieria</p>
        <p>Introduccion a la computacion y a la programacion 1</p>
      </div>
    </div>
  
    <hr />
  
    <div class="row fact-info mt-3">
      <div class="col-3">
        <h5>Paciente:</h5>
        <p>
          {{paciente_nombre}} 
        </p>
      </div>
      <div class="col-3">
        <h5>Fecha</h5>
      </div>
      <div class="col-3">
        <p>{{fecha}}</p>
      </div>
      <div class="col-3">
        <h5>Padecimiento</h5>
      </div>
      <div class="col-3">
        <p>{{padecimiento}}</p>
      </div>
      <div class="col-3">
        <h5>Descripcion</h5>
      </div>
      <div class="col-3">
        <p>{{descripcion}}</p>
      </div>
    </div>
    </div>
    <div class="cond row">
      <div class="col-12 mt-3">
       <p> UHospital, cuidar, proteger y servir</p>
      </div>
    </div>
</div>
</div></body>
</html>