<!DOCTYPE html>
<html>
<head>

</head></div><div id="app" class="col-11">
<body>

    <div class="row my-3">
      <div class="col-10">
        <h1>Uhospital</h1>
        <p>Universidad de San Carlos de Guatemala</p>
        <p>Facultad de Ingenieria</p>
        <p>Introduccion a la computacion y a la programacion 1</p>
      </div>
    </div>
  
    <hr />
  
    <div class="row fact-info mt-3">
      <div class="col-3">
        <h5>Facturar a:</h5>
        <p>
          {{paciente_nombre}} 
        </p>
      </div>
      <div class="col-3">
        <h5>Doctor:</h5>
        <p>
         {{doctor_nombre}} 
        </p>
      </div>
      <div class="col-3">
        <h5>Fecha</h5>
      </div>
      <div class="col-3">
        <p>{{fecha}}</p>
      </div>
    </div>
  
    <div class="row my-5">
      <table class="table table-borderless factura">
        <thead>
          <tr>
            <th>Descripcion</th>
            <th></th>
            <th>Importe</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Precio Consulta </td>
            <td></td>
            <td>  {{precio_consulta}}  </td>
          </tr>
          <tr>
            <td> Costo operacion </td>
            <td></td>
            <td>  {{precio_operacion}}  </td>
          </tr>
          <tr>
            <td> Costo internado </td>
            <td></td>
            <td>  {{precio_internado}}  </td>
          </tr>

        </tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th>Total Factura :{{total}}  </th>
            
          </tr>
        </tfoot>
      </table>
    </div>
  
    <div class="cond row">
      <div class="col-12 mt-3">
       
      </div>
    </div>
</div>
</div></body>
</html>