<title>
    {{clave1}}
    </title>
    <body>
        <div id="wrapper">
         <h1>{{clave3}}</h1>
         
         <table id="keywords" cellspacing="0" cellpadding="0">
           <thead>
             <tr>
               <th><span>Nombre</span></th>
               <th><span>{{clave2}}</span></th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <td class="lalign">{{puesto1}}</td>
               <td>{{visitas1}}</td>
             </tr>
             <tr>
               <td class="lalign">{{puesto2}}</td>
               <td>{{visitas2}}</td>
             </tr>
             <tr>
               <td class="lalign">{{puesto3}}</td>
               <td>{{visitas3}}</td>
             </tr>
             <tr>
                <td class="lalign">{{puesto4}}</td>
                <td>{{visitas4}}</td>
              </tr>
              <tr>
                <td class="lalign">{{puesto5}}</td>
                <td>{{visitas5}}</td>
              </tr>
             <tr>
           </tbody>
         </table>
        </div> 
       </body>