<title>
Top 3 Doctores
</title>
<body>
    <div id="wrapper">
     <h1>Top 5 Doctores con mas visitas atendidas</h1>
     
     <table id="keywords" cellspacing="0" cellpadding="0">
       <thead>
         <tr>
           <th><span>Nombre del doctor</span></th>
           <th><span>Cantidad de visitas</span></th>
         </tr>
       </thead>
       <tbody>
         <tr>
           <td class="lalign">{{puesto1}}</td>
           <td>{{visitas1}}</td>
         </tr>
         <tr>
           <td class="lalign">{{puesto2}}</td>
           <td>{{visitas2}}</td>
         </tr>
         <tr>
           <td class="lalign">{{puesto3}}</td>
           <td>{{visitas3}}</td>
         </tr>
         <tr>
       </tbody>
     </table>
    </div> 
   </body>